.footer {
  margin-top: em(120px);
  padding-bottom: em(50px);

  &__row {
    max-width: $max-width;
    margin: 0 auto;
    padding: 0 1em 0 1em;
    position: relative;
  }

  &__list {
    float: right;
    margin:0 ;
    padding: 0;
  }

  &__item {
    display: inline-block;
    margin-right: 1em;

    &:last-of-type {
      margin-right: 0;
    }
  }

  &__link {
    color: $dark-text;
    text-decoration: none;
    border-bottom: 1px solid $dark-text;
    padding-bottom: 0.1em;
    @include transition(color, 0.3s, ease);

    &:hover {
      color: $orange;
      border-bottom: 1px solid $orange;
    }
  }
}