body {
  font-family: $text-font-stack;
  background: $background-color;
}

.wrapper {
    max-width: $wrapper-width;
    position: relative;
    margin: 0 auto;
    box-shadow: 0px 0px 60px rgba(0, 0, 0, 0.4);
    background: $white;
}

.row {
  max-width: $max-width;
  margin:0 auto;
  position: relative;
  padding: 0 1em;
}

.main-content {
  max-width: $max-width;
  margin: 0 auto;
  padding: 0 1em;
}

// TODO: move this
a.link {
  color: $dark-text;
  text-decoration: none;
  border-bottom: 1px solid $dark-text;
  padding-bottom: 0.1em;
  transition: color, 0.3s, ease;

  &:hover {
    color: $orange;
    border-bottom: 1px solid $orange;
  }
}