.header {
  position: absolute;
  z-index: 2;
  padding: 2em 0;
  width: 100%;

  &__title {
    position: absolute;
    top: 0;
    left: 1em;
    letter-spacing: 1px;
    margin: 0;
    font-size: 18px;
    color: $deep-black;
    font-family: 'solomon_blackregular';
    text-transform: uppercase;
  }

  &__link {
    color: $deep-black;
    text-decoration: none;
    display: block;
  }
}