$tablet : 768px;

body {
  background: groove;
  font-family: 'solomon_normalregular';
  margin:0;
  padding: 0;
  background: #727272;
}

#wrapper {
  max-width: 1140px;
  margin: 0 auto;
  box-shadow: 0px 0px 60px rgba(0, 0, 0, 0.4);
  background: #fff;
}

.landing {
  
  padding-bottom: 50px;
  background: url(../images/profiel.jpg) no-repeat;
  background-position: center;
  background-size: cover;

  @include media($tablet) {
      padding-bottom: 100px;
  }

  &__row {
    padding-top: 400px;
    max-width: 900px;
    margin: 0 auto;
    padding: 320px 1em 0 1em;
    position: relative;
  }

  &__title {
    position: absolute;
    top: 0; 
    left: 1em;
    letter-spacing: 1px;
    font-size: 18px;
    color: #fff;
    font-family: 'solomon_blackregular';
    text-transform: uppercase;
  }

  &__sub-title {
    font-family: 'solomon_blackregular';
    color: #000;
    font-size: 63px;
    line-height: 67px;
    color: #fff;
    margin: 0;
    padding: 0;
    
    @include media($tablet) {
      font-size: 100px;
      line-height: 87px;
    }
  }

  &__text {
    font-family: 'solomon_bookregular';
    color: #fff;
    display: block;
    margin-top: 1em;
    letter-spacing: 1px;
    font-size: 18px;
    margin-top: 20px;
    margin-left: 5px;
    padding: 0;
    

    > a {
      color: #fff;
      text-decoration: none;
      border-bottom: 1px solid #fff;
      padding-bottom: 0.1em;
      @include transition(color, 0.3s, ease);
      &:hover {
        color: #FF5722;
        border-bottom: 1px solid #FF5722;
      }
    }
    @include media($tablet) {
  
    }
  }
}

.coming-soon {
  margin-top: 70px;

  &__row {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 1em 0 1em;
    position: relative;
  }


  &__list{
    list-style-type: circle;
    margin: 0;
    padding: 0 1em;
  }

  &__item {
    padding: 10px;
    color: #8A8A8A;
    font-family: 'solomon_bookregular';

    > a {
      color: #8A8A8A;
      text-decoration: none;
      border-bottom: 1px solid #8A8A8A;
      padding-bottom: 0.1em;
      @include transition(color, 0.3s, ease);
      &:hover {
        color: #FF5722;
        border-bottom: 1px solid #FF5722;
      }
    }

    > strong {
      color: #FF5722;
    }
  }

  &__title {
    font-size:18px;
    color: #272E38;
    border-bottom: 1px solid rgba(#979797, 0.3);
    padding-bottom: 1em;
  }
}

.footer {
  margin-top: 120px;
  padding-bottom: 50px;

  &__row {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 1em 0 1em;
    position: relative;
  }

  &__list {
    float: right;
    margin:0 ;
    padding: 0;
  }

  &__item {
    display: inline-block;
    margin-right: 1em;

    &:last-of-type {
      margin-right: 0;
    }

    > a {
      color: #000000;
      text-decoration: none;
      border-bottom: 1px solid #000000;
      padding-bottom: 0.1em;
      @include transition(color, 0.3s, ease);
      &:hover {
        color: #FF5722;
        border-bottom: 1px solid #FF5722;
      }
    }
  }
}