$text-font-stack: 'solomon_normalregular', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif !default;



$text-color: #222;

$background-color: #C6CFD8;

$purple: #512DA8;
$orange: #FF5722;
$cristal-white: #FFFFFF;
$white: #fefefe;
$light-grey: #EDEDED;

$dark-text: #37414F;
$deep-black: #000;
$light-grey-text: #9B9B9B;


$wrapper-width: 1140px;
$max-width: 1120px;
$row-max-width: 673px;




/// Breakpoints map
/// @prop {String} keys - Keys are identifiers mapped to a given length
/// @prop {Map} values - Values are actual breakpoints expressed in pixels

$bp-small:  590px;
$bp-medium: 768px;
$bp-large:  1024px;


/// @type String
$base-url: '/assets/' !default;