@font-face {
  font-family: 'solomon_blackregular';
  src: url("../fonts/solomon_black-webfont.eot");
  src: url("../fonts/solomon_black-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/solomon_black-webfont.woff") format("woff"), url("../fonts/solomon_black-webfont.ttf") format("truetype"), url("../fonts/solomon_black-webfont.svg#solomon_blackregular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'solomon_boldregular';
  src: url("../fonts/solomon_bold-webfont.eot");
  src: url("../fonts/solomon_bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/solomon_bold-webfont.woff") format("woff"), url("../fonts/solomon_bold-webfont.ttf") format("truetype"), url("../fonts/solomon_bold-webfont.svg#solomon_boldregular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'solomon_bookregular';
  src: url("../fonts/solomon_book-webfont.eot");
  src: url("../fonts/solomon_book-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/solomon_book-webfont.woff") format("woff"), url("../fonts/solomon_book-webfont.ttf") format("truetype"), url("../fonts/solomon_book-webfont.svg#solomon_bookregular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'solomon_normalregular';
  src: url("../fonts/solomon_normal-webfont.eot");
  src: url("../fonts/solomon_normal-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/solomon_normal-webfont.woff") format("woff"), url("../fonts/solomon_normal-webfont.ttf") format("truetype"), url("../fonts/solomon_normal-webfont.svg#solomon_normalregular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'solomon_lightregular';
  src: url("../fonts/solomon_light-webfont.eot");
  src: url("../fonts/solomon_light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/solomon_light-webfont.woff") format("woff"), url("../fonts/solomon_light-webfont.ttf") format("truetype"), url("../fonts/solomon_light-webfont.svg#solomon_lightregular") format("svg");
  font-weight: normal;
  font-style: normal; }