$block: 'intro';

.#{$block} {
  color: $deep-black;
  
  &--large {
    @include media($bp-small) {
      position: relative;

       &:before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        opacity: 1;
      }
    }
  }
  
  &__row {
    padding-top: 200px;
    padding-bottom: 150px;
    padding-left: 1em;
    padding-right: 1em;
    max-width: $max-width;
    margin: 0 auto;
    // padding: 300px 1em 0 1em;
    position: relative;
    
    @include media($bp-medium) {
      // padding-left: 0;
      // padding-right: 0;
    }
  }

  &__title {
    font-family: 'solomon_blackregular';
    font-size: em(60px);
    line-height: em(77px, 64px);
    margin: 0;
    padding: 0;
    max-width: $row-max-width;
    display: inline-block;
   
   
    @include media($bp-medium) {
      margin-left: 20%;
    }

    &--large {
      font-size: em(50px);
      line-height: 60px;
      margin-bottom: em(10px, 50px);

      @include media($bp-small) {
        font-size: em(100px);
        line-height: em(80px, 100px);
      }


      @include media($bp-medium) {
        font-size: em(130px);
        line-height: em(120px, 130px);
        margin-bottom: em(10px, 130px);
      }

      &:before{
        display: none;
      }
    }
  }

  &__link {
    color: $deep-black;
    transition: color, 0.15s, ease-in;

    &:hover {
      color: $orange;
    }
  }

  &__text {
    display: block;
    font-size: em(18px);

    @include media($bp-medium) {
      margin-left: 20%;
    }
  }

  // &--home {
  //   background-image: url(../img/profiel.png);
  //   background-size: 150%;
  //   background-position: center -200px;
  // }
}