.list-resume {
  $item_padding: em(90px);

  list-style: none;
  margin: 0;
  padding: 0;

  &__item {
    display: block;
    position: relative;
    margin-bottom: em(30px);
    line-height: em(27px);
  }

  &__year {
    font-size: em(18px);
    font-family: 'solomon_blackregular';
    display: inline-block;
    position: absolute;
    height: 100%;
    color: $light-grey-text;
  
  }

  &__title {
    font-family: 'solomon_boldregular';
    display: inline-block;
    padding-left: $item_padding;
    color: $deep-black;
  }

  &__job-title {
    display: block;
    padding-left: $item_padding;
  }

  &__timespan {
    display: block;
    font-family: 'solomon_bookregular';
    padding-left: $item_padding;
    color: $light-grey-text;

    &--current {
      color: $orange;
    }
  }
}