.list-portfolio {

  list-style: none;
  margin: 0;
  padding: 0;

  &__item {
    border-top: 2px solid $light-grey;
    @extend .clearfix;

    &:last-of-type {
      border-bottom: 2px solid $light-grey;
    }
  }

  &__link {
    display: block;
    text-decoration: none;
    color: $dark-text;
    padding: em(44px) 0;
    float: left;
    line-height: em(27px);
    width: 100%;
  }

  &__image {
    width: em(34px);
    height: em(34px);
    float: left;
    margin-right: 1.5em;
    clear: all;

    @include media($bp-small) {
      width: em(60px);
      height: em(60px);
    } 
  }

  &__title {
    float: left;
    margin-top: .2em;

    @include media($bp-medium) {
      width: 60%;
    } 
  }

  &__job {
    margin-top: .2em;
    float:left;
    width: 50%;
    clear: right;
  }

  &__location {
    float: left;
    margin-right: 2em;
    color: $light-grey-text;
  }

  &__date {
    float: left;
    color: $orange;
  }

  &__read-more {
    float: right;
    position: relative;
    color: $light-grey-text;
    @include transition (color, 0.3s, ease-in-out);

    &:hover {
      color: $orange;
    }
    &:after {
      content: '...';
      color: $orange;
    }
  }



}