.list-plain {
  margin: 0;
  padding: 0;
  list-style: none;


  &__item {
    display: block;
    position: relative;
    padding-left: 2em; 
    margin-bottom: em(17px);

    &:before {
      content: '';
      width: 10px;
      height: 10px;
      display: inline-block;
      left: 0;
      top: 4px;
      line-height: 18px;
      vertical-align: top;
      border-radius: 50%;
      background: $orange;
      position: absolute;
      margin-right: 2em;
    }

    &--grey {
      color: $light-grey-text;

      &:before {
        //@extend .list-plain__item::before;
        background: $light-grey-text;
      }
    }

  }

  &__content {
      margin-left: 0.5em;
      color: $light-grey-text;
    }
}