.menu {
  margin:0;
  padding: 0;
  list-style: none;
  float: right;

  &__item {
    display: inline-block;
    margin-right: 1em;

    &:last-of-type {
      margin-right: 0;
    }
  }

  &__link {
    color: $deep-black;
    text-decoration: none;
    padding-bottom: 0.1em;
    border-bottom: 0px solid $deep-black;
    
    &:hover {
      border-bottom: 1px solid $deep-black;
    }
  }
}