.about-block {
  max-width: $max-width;
  margin-bottom: em(68px);
  
  &__title {
    display: inline-block;
    vertical-align: top;
    width: 100%;
    margin: 0;
    font-size: em(16px);
    line-height: em(27px);
    margin-bottom: 1em;

    @include media($bp-medium) {
      width: 20%;
    }
  }

  &__content {
    display: inline-block;
    vertical-align: top;
    width: 100%;
    max-width: $row-max-width;
    font-size: em(14px);

    > p {
        line-height: em(27px);
        margin: 0;
        color: $dark-text;
    }

    @include media($bp-small) {
      font-size: em(16px);
    }

    @include media($bp-medium) {
      width: 78%;
    }
  }
}